%playfair-display-regular {
  font-family: 'Playfair Display Regular', sans-serif;
  font-weight: normal;
}

%playfair-display-medium {
  font-family: 'Playfair Display Medium', sans-serif;
  font-weight: 600;
}

%roboto-light {
  font-family: 'Roboto Light', sans-serif;
  font-weight: 300;
}

%katoria-script-regular {
  font-family: 'Katoria Script', sans-serif;
  font-weight: normal;
}